PORT=your_port 
MONGODB_URI=your_url_to_mongoDB
AWS_REGION=your_region
SQS_QUEUE_URL=your_url_to_sqs
S3_BUCKET_NAME=your_s3_bucket_name
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_SESSION_TOKEN=your_aws_token